<ion-header>
  <ion-toolbar>
    <ion-title>Sports</ion-title>
    <ion-button slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>

</ion-content>
