<ion-split-pane contentId="content">
  <ion-menu contentId="content" side="end">
  <ion-header>
      <ion-toolbar>
          <ion-title>Menú</ion-title>
          <ion-buttons slot="start">
            <ion-button (click)="closeMenu()">
              <ion-icon name="arrow-forward" size="large"></ion-icon>
            </ion-button>
          </ion-buttons>
      </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-item (click)="goToHome()">Inicio</ion-item>
    <ion-item (click)="goToSports()">Sports</ion-item>
    <ion-item (click)="goToSettings()">Configuración</ion-item>
    <ion-item (click)="logout()">
      <ion-icon name="log-out" color="primary" slot="start"></ion-icon>
      Salir</ion-item
    >
  </ion-content>
  </ion-menu>

  <ion-router-outlet id="content" main ></ion-router-outlet>

</ion-split-pane>