<ion-header>
  <ion-toolbar>
    <ion-title>Settings</ion-title>
    <ion-button slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-text-center">
  <div class="success-background">
    <ion-avatar (click)="takePhoto()">
      <img [src]="userImage" *ngIf="!photo"/>
      <img [src]="photo" *ngIf="photo"/>
    </ion-avatar>
    <ion-grid>
      <ion-row class="ion-align-items-center ion-text-center row-header">
        <ion-col>140</ion-col>
        <ion-col>2k</ion-col>
        <ion-col>555</ion-col>
      </ion-row>
      <ion-row class="ion-align-items-center ion-text-center row-header">
        <ion-col>Artistas</ion-col>
        <ion-col>Seguidores</ion-col>
        <ion-col>Canciones</ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
